.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px; /* Space between text and image */
    padding: 20px;
  }
  
  .about {
    text-align: left;
    flex:1;
  }
  
  .image {
    max-width: 100%;
    object-fit: cover;
    height:16cm;
    width:20cm;
  }
  